@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

/*pages*/
@import 'home.css';
@import 'appBar.css';


:root{
    /**color**/
    --white:#F3F3F3;
    
    --green:#008766;
    --bluelight:#89C8FA;
    --bluedark:#003A68;
    --purple:#9356DC;
    --grey:#f3f3f3;
    --grey_restaurant:#F6F6F6;
    --greydark:#353535;
    --greylight:#fafafa;

/**bouton commande**/
--purple:#9356DC;

/**heart**/
--primary-color:#9356DC;
--secondary-color:#FF79DA;

/**btn check**/
--turquoise:#99E2D0;


/** Text configuration **/
--header-font:'Shrikhand';
--button-font:'Roboto';
--title-font:'Roboto';
--subtitle-font:'Roboto';
--body-font:'Roboto';
--bodygras-font:'Roboto';
--li-font:'Roboto';


--header-font-weight: 300;
--button-font-weight:400;
--title-font-weight:700;
--subtitle-font-weight:700;
--body-font-weight:300;
--bodygras-font-weight:500;
--li-font-weight:400;

--header-font-size:1.8rem;
--button-font-size:1rem;
--title-font-size:1.5rem;
--subtitle-font-size:1.2rem;
--body-font-font-size:0.9rem;
--bodygras-font-size:1rem;
--li-font-size:1rem;

--header-line-height: 2.7rem;
--button-line-height:1.17rem;
--title-line-height:1.75rem;
--subtitle-line-height:1.3rem;
--body-font-line-height:1.3rem;
--bodygras-font-line-height:1.1rem;
--li-font-line-height:1.1rem;
}

.body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bodygras-font);
    font-style:normal;
    font-weight: var(--bodygras-font-weight);
    font-size: var(--bodygras-font-size);
    line-height:var(--bodygras-font-line-height);
    color: var(--black);
}

.title {
    font-family: var(--header-font);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--black);
}
h1 {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--black);


}


h2{
    font-family:var(--subtitle-font);
    font-style: normal;
    font-weight: var(--body-font-weight);
    font-size:var(--subtitle-font-size);
    color: black;

}

h3{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: black;

}
h4{
    font-family: var(--subtitle-font);
    font-style: normal;
    font-weight:var(--subtitle-font-weight) ;
    font-size: var(--body-font-font-size);
    color: black;
}

p{
   font-family: var(--body-font);
   font-style: normal;
   font-weight: var(--body-font-weight);
   font-size: var(--body-font-font-size);
   color: black;
}
li{
    font-family:var(--li-font) ;
    font-style: normal;
    font-weight:var(--li-font-weight) ;
    font-size:var(--li-font-size) ;
    color: white;
    line-height: var(--li-font-line-height);
}




/* Small devices (phones, less than 768px) */
@media (min-width: 767.98px) {
    
}