

/***logo***/


/*****image de fond*****/
img.picture_restaurant{
    height: 275px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/*****contenair menu*****/
/****top contenair****/
.contenair {
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    transform: translateY(-40px);
}
.top_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#top_container--title{
    margin: 0;
    padding: 20px 0 0 20px;
    font-family: 'shrikhand';
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.5rem;
}
.top_contenair--icon{
    position: relative;
    right:35px;
    top:8px;
    font-size: 25px;
}
.menu__container{
    margin: 0 0 0 10px;
}

#menu__container--h2none{
    text-decoration: underline var(--turquoise);
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.188rem;
}
.menu__card{
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--greylight);
    width:auto;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    
}
.menu__card--content{
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 10px;
    
}
#menu__card--h3{
    font-family: 'roboto';
    font-size: 1.1rem;
    line height: 21.09px;
    font-weight: 500;
    display: inline;
}
#menu__card--p{
    font-family: 'roboto';
    font-size: 0.9rem;
    line height: 17px;
    font-weight:700;   
}
.menu__card--tarif{
    position: absolute;
    top: 155px;
    right: 30px;
  /*  transform: translateX(0);*/
}
.menu__card--tarif:hover{
transform: translateX(-50px);
}



/* Le code ci-dessous correspond à la version responsive uniquement */
@media screen and (min-width: 768px) {


.contenair{
    margin:0 200px ;

}

.top_container{
    margin:0 200px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    
}
.top_contenair--icon{
    padding-left: 60px;

}
.menu__container{
    margin: 0 200px;
    position: relative;


}
.menu__card--tarif{
   margin:60px 200px 0 0;
   position: absolute;

}

.menu__card{ 
  margin:10px 0 0 0;


}

