   .body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
   
    .div__appbar{
    display: flex;
    justify-content: center;
    height: 96px;

}
.appbar__logo{
    width:50% ;
}





/***** css la palette du goût*****/
.appbar--restaurant{
    box-shadow: none;
    height: 60px;
    display: flex;
    justify-items: center;
    margin-left: 20px;
    align-items: center;
}
.appbar__logo--restaurant{
    width: 50%;
    margin-left: 50px;
}
#appbar__arrow{
    font-size: 1.2rem;

}


@media (min-width: 1024px) {

}



@media (min-width: 768px) {
    

/*****css index.html*****/
.appbar{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    height: 60px;
}

.appbar__logo{
    width: 15%;
    display: flex;
    justify-content: center;
}
.appbar--restaurant{
height: 95px;

}

.appbar__logo--restaurant{
    width: 20%;
    margin-left: 500px;
}



}
