@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

@import "variables";
@import "mixin";

*::before,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}



@import "global/appbar";
@import "global/footer";


body {
  font-family: $font-text;
}

.button {

}
h3{
    font-family:$font-text;
    font-style: normal;
    font-weight: $font-xlb;
    font-size:$font-xl;
    line-height:$font-line-l;
    color: black;
}