@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

@import "variables";
@import "mixin";

*::before,::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}



@import "global/appbar";
@import "global/footer";


body {
  font-family: $font-text;
}

.button {

}