@import "global";

.main {
  margin-bottom: 40px;
}

.restaurant {
  padding: 20px 17px;
  background-color: $grey-light;

  &__container {
    &--style{
      gap:20px;
    }

    &__card {
      height: 280px;
      width: 100%;
      margin-top: 30px;
      justify-content: space-between;
      background-color: white;
      border-radius: 20px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
/**vignette nouveau***/
      &--nouveau {
        position: absolute;
        top: 10px;
        right: 20px;
        @include flex-center;
        align-items: center;
        background-color: $color-third;
        color:$color-green;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: $font-medium-b;
      }

      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-top: 10px;

        &--text {
          display: flex;
          flex-direction: column;
          margin: 0 20px 0 20px;
        }

        &--subtitle {
          margin-top: 5px;
          margin-bottom: 4px;
        }

        &--txt {
          margin: 0;
        }

        &--icon {
          margin-right: 30px;
        }
      }

      &--image {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
      }
    }
  }
}



.main__bar__nav {
  padding-top: 20px;
  @include flex-center;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  background-color: $grey-input;
  padding-left: 30px;
}
.fa-location-dot{
  color:$color-dark;
}

#main__bar__nav--location{
  border: none;
  background-color: transparent;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: $font-text;
  color: $color-secondary;
  font-size: $font-s;
  font-weight: $font-medium-b;
  line-height: $font-line-s;
}

.h2__nodecoration{
  text-decoration: none;
  margin: 0 30px;
  font-size: $font-l;
  font-weight: $font-lght-b;
  margin-top: 30px;
  text-align: center;
}

.explore{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey-light;
  padding: 50px 0 30px 0;
}
.explore__h1{
  text-align: center;
  font-size: $font-xl;
  margin:0 50px;
}
.explore__h2{
  margin-bottom: 0;
}
.explore__h3{
  margin-top: 0;
  padding-bottom: 30px;
}

/**anim btn explore**/
.explore__button{
  text-decoration: none;
  margin: 20px 0px;
  padding: 15px 30px;
  border-radius: 100px;
  font-family: $font-text;
  font-size: $font-s;
  font-weight: $font-medium-b;
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg,#9356DC,#FF79DA);
  transition: 0.5s;

  &:hover{
    opacity: 0.85;
  }
}
/**fontionnement**/
.choose{
  @include flex-center;
  flex-direction: column;
  padding: 30px 10px;
}


ol.choose__container__select {
  padding-inline-start: 20px;
  @include flex-all-center;
  flex-direction: column;
  list-style: none;
}


.choose__container__select--btn{
  width: 77%;
  text-decoration: none;
  margin: 10px 0px;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: $grey-light;
  color: $text-color;
  font-family: $font-text;
  font-size: $font-s;
  font-weight: $font-medium-b;
  line-height: $font-line-s;
  position: relative;
  counter-increment: compteur;

  &::before {
    margin-right: 1rem;
    content: "" counter(compteur);
    color: white;
    background: $color-primary;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    @include flex-center;
    align-items: center;
    position: absolute;
    left: -15px;
  }
}
.choose__container__select--btn {
  color: black;
}
.choose__container__select--icon{
  padding-left: 5px;
  margin: 0px 20px 0 0;
  color: $icon-dark-icones;


  &:hover{
    color: $icon-colored;
   /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);*/

  }
}
/*
#choose__container__select--icon2{
  padding-left: 5px;
  margin: 0px 20px 0 0;
  color: $icon-colored
}
*/

/* Le code ci-dessous correspond à la version responsive uniquement */
@media screen and (min-width: 768px) {
  .main__bar__nav{
    font-size: $font-s;
    line-height: $font-line-s;
    font-weight: $font-medium-b;
    font-family: $font-text;
  }
  .explore{
    height: auto;

    &__h1{
      text-align: center;
      margin: 0 50px;
    }
  }

  .choose{
    @include flex-center;
    flex-direction: column;
    padding: 0 180px;
  }

  ol.choose__container__select {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px;
    justify-content: space-between;
    padding-left: 0;
  }

  ol li::before{
    left: -12px;
  }

  .choose__select--btn{
    position: relative;
  }

  .restaurant{
    padding: 30px 180px 30px 180px;
    margin:50px 0;

    &__container{
      &--style{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:100px 50px;
      }
    }
  }
}



