@import "global.scss";

img.picture_restaurant {
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  position: absolute;
  z-index: 2;
}

.container {
  border-radius: 2rem 2rem 0 0;
  background-color: $grey-light;
  z-index: 100;
  position: absolute;
  z-index: 2;
  width: 100%;
  transform: translateY(190px);
}

.container__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &--icon{
    padding-right: 40px;
  }
}
#container__top--title {
  margin: 0;
  padding: 20px 0 0 20px;
  font-family: $font-title;
  font-weight: $font-b;
  font-size: 27px;
  line-height: 40px;
}


.menu__container {
  &--h2none {
    text-decoration: underline $color-third;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    padding-left: 15px;
  }
}
#entrees{
  margin-top: 50px;
}
#plat{
  margin-top: 50px;
}
#dessert{
  margin-top: 50px;
}

/******ANIMATION MENU CARD CHECK******/


.menu__card {
  cursor: pointer;
 /* overflow: hidden;*/
  border-radius: 20px;
  @include shadow-card;
  width: auto;
  background: #fff;
  margin: 15px 15px 0 15px;
 position: relative;
    
  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;


    &--txt {
      display: flex;
      flex-direction: column;
     position: relative;

    }
  }
}

.menu__card{
  &--h3 {
    font-size: $font-m;
    line-height: 21px;
    font-weight: $font-medium-b;
    margin: 0;
    display: inline;
    font-family: $font-text;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
   position: relative;


  }

  &--description {
    font-size: $font-xs;
    margin: 0;
    padding-top:10px;
    font-weight: $font-lght-b;
    font-family: $font-text;
    position: relative;
    text-overflow: ellipsis;

  }
  
  &--p{
    font-size:$font-xs ;
    font-weight: $font-xlb;
    font-family: $font-text;
    position: relative;
    top:15px;
  }

}

/***** BALISES CHECK & TARIF + ANIMATION CHECK & TARIF******/
.menu__card--check{
  position: absolute;
  font-size: $font-l;
  text-decoration: none;
  height: 70px;
  border-radius: 0 20px 20px 0;
  background-color: $color-third;
  right:0px;
  top:0px;
  transition: transform 1s ease-in-out 0.5s;
  opacity: 0;
  overflow: hidden;
 z-index: 1;
}

.check{
  @include flex-all-center;
  color: white;
  padding: 25px 0 0 25px;
  font-size: 20px;
  animation: rotate-check 3s ;
  position: absolute;

}
 .menu__card{
  &:hover  .menu__card--check{
    animation:progresscheck 1000ms;
    /*animation-iteration-count:1;*/
    animation-fill-mode: forwards;
   /* opacity: 1;
   transform: translateX(-50px);*/

   @media screen and (min-width: 1024px) {
    .menu__card{
      &:hover  .menu__card--check{
        animation:progresscheck 2000ms ease-in-out 0.8s;
        animation-fill-mode: forwards;
   }
  }
}
  }
}

   .menu__card{
   &:hover .menu__card__content--tarif{
    animation: tarif 0.6s ease-in-out 0.1s normal both;
   
    @media screen and (min-width: 1024px) {
      .menu__card{
        &:hover .menu__card__content--tarif{
         animation: tarif 0s ease-in 0s normal both;

        }
      }
    }
}
}

/*****ANIMATION DESCENTE CARDS*******/

/* Je veux cacher les cards avant la descente
.menu__plat1, .menu__plat2, .menu__plat3 ::before {
  visibility: hidden;
}*/


.menu__card{
&.menu__entree1{
    animation : anim__entree 0.7s ease-in-out normal;
  }
  &.menu__entree2{
    animation : anim__entree 0.7s ease-in-out normal 0.2s;
  }
  &.menu__entree3{
    animation : anim__entree 0.7s ease-in-out normal 0.3s;
  }
  &.menu__plat1{
    animation : anim__entree 0.7s ease-in-out normal 0.5;
  }
  &.menu__plat2{
    animation : anim__entree 0.7s ease-in-out normal 0.7s;
  }
  &.menu__plat3{
    animation : anim__entree 0.7s ease-in-out normal 0.9s;
  }
  &.menu__dessert1{
    animation : anim__entree 0.7s ease-in-out normal 1.1s;
  }
  &.menu__dessert2{
    animation : anim__entree 0.7s ease-in-out normal 1.3s;
  }
  &.menu__dessert3{
    animation : anim__entree 0.7s ease-in-out normal 1.5s;
  }
}

/******BOUTON COMMANDER*******/

.commander {
  margin: 50px;
}

#commander__button {
  @include button;
}

@media screen and (min-width: 768px) {


  /**container**/
  .container {
    width: 80%;
    margin:-40px 180px 0 180px;

    &__top {
      margin: 0 200px;
      padding: 30px 0;
      @include flex-center;

      &--icon {
        padding-left: 60px;
        font-size: $font-xl;

      }
    }
  }

  .menu {
    display: grid;

    &__container {
      margin: 0 auto;
      width: 80%;
    }


    &__card {
      margin: 10px 0 0 0

    }

    &--tarif {
      left: 280px
    }
  }

  .commander {
    @include flex-center;
    transition: 50ms;

    &:hover {
      opacity: 0.85
    }
  }
}

