@import "global.scss";

img.picture_restaurant {
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.container {
  border-radius: 2rem 2rem 0 0;
  background-color: $grey-light;
  z-index: 100;
  margin-top: -40px;
  padding: 15px;
}

.container__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &--title {
    margin: 0;
    padding: 20px 0 0 20px;
    font-family: $font-title;
    font-weight: $font-b;
    font-size: 27px;
    line-height: 40px;
  }
}

.menu__container {
  &--h2none {
    text-decoration: underline $color-third;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
  }
}


.menu__card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  @include shadow-card;
  width: auto;
  background: #fff;
  margin-bottom: 15px;

  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    &--txt {
      display: flex;
      flex-direction: column;
    }
  }
}
.menu__card{
  &--h3 {
    font-size: $font-m;
    line-height: 21px;
    font-weight: $font-medium-b;
    margin: 0;
    display: inline;
  }

  &--description {
    font-size: $font-m;
    line-height: 21px;
    display: inline;
    margin: 0;
  }

  &--p {
    font-size: $font-s;
    line-height: $font-line-s;
    font-weight: $font-xlb;
  }
}
.menu__card{
  &--check {
    position: absolute;
    font-size: $font-l;
    width: 18%;
    height: 15px;
    text-decoration: none;
    padding: 25px 0 30px 0;
    border-radius: 0 20px 20px 0;
    background-color: $color-third;
    @include flex-all-center;
    overflow: hidden;
  }
}


.commander {
  margin: 50px;
}

#commander__button {
  @include button;
}

@media screen and (min-width: 768px) {


  /**container**/
  .container {
    width: 80%;
    margin: auto;
    margin-top: -40px;

    &__top {
      margin: 0 200px;
      padding: 30px 0;
      @include flex-center;

      &--icon {
        padding-left: 60px;

      }
    }
  }

  .menu {
    display: grid;

    &__container {
      margin: 0 auto;
      width: 80%;
    }


    &__card {
      margin: 10px 0 0 0

    }

    &--tarif {
      left: 280px
    }
  }

  .commander {
    @include flex-center;
    transition: 50ms;

    &:hover {
      opacity: 0.85
    }
  }
}

