/* COULEURS */
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-third: #99E2D0;
$color-dark: #353535;

$grey-input: #EAEAEA;
$grey-light: #F6F6F6;

$text-color: #000;

$icon-dark: #7E7E7E;
$icon-colored: $color-primary;

/* FONT */
$font-title: "Shrikhand";
$font-text: 'Roboto';

/* FONT SIZE */
$font-xl: 24px;
$font-l: 18px;
$font-m: 17px;
$font-s: 16px;
