/**MIXIN**/
@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  justify-items: center;
  align-items: center;
}


@mixin shadow-card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--greylight);
  color: black;
}


@mixin button {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 100px;
  font-family: $font-text;
  font-size: $font-s;
  font-weight: $font-xlb;
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, $color-primary, $color-secondary);
  @include flex-center;
  transition-duration: 0.5s;

  &:hover{
    opacity: 0.9;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);

}
}

/**KEYFRAMES**/
@keyframes rotate-check{
from{
  transform: rotate(300deg);
}
to{
  transform:rotate(360deg);
}


}
@keyframes anim__entree{
40%{
  opacity: 30%;
}
80%{
  opacity: 70%;
}
  to{
    transform: translateY(0);
    opacity: 1;
    display: block;
    visibility: visible;
  }
}
