@import "global";
@import "global/anim_cards_restaurant";
@import "global/anim_cards_check";

/**IMAGE ARRIERE PLANT**/
img.picture_restaurant {
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  position: absolute;
  z-index: 2;
}
/**CONTAINER**/
.container {
  border-radius: 2rem 2rem 0 0;
  background-color: $grey-light;
  z-index: 100;
  position: absolute;
  width: 100%;
  transform: translateY(190px);
}

.container__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &--icon {
    padding-right: 40px;
  }
}

#container__top--title {
  margin: 0;
  padding: 20px 0 0 20px;
  font-family: $font-title;
  font-weight: $font-b;
  font-size: 27px;
  line-height: 40px;
}

/**CARDS**/
.menu__container {
  &--h2none {
    text-decoration: underline $color-third;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    padding-left: 15px;
  }
}

#entrees {
  margin-top: 50px;
}

#plat {
  margin-top: 50px;
}

#dessert {
  margin-top: 50px;
}

/****** MENU CARD CHECK + hover******/
.menu__card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  @include shadow-card;
  width: auto;
  background: #fff;
  margin: 15px 15px 0 15px;
  position: relative;

  &--h3 {
    font-size: $font-m;
    line-height: 21px;
    font-weight: $font-medium-b;
    margin: 0;
    display: inline;
    font-family: $font-text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
  }

  &--description {
    font-size: $font-xs;
    margin: 0;
    padding-top: 10px;
    font-weight: $font-lght-b;
    font-family: $font-text;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;

  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;


    &--txt {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &--tarif {
      transition: 1s all;
    }
  }

  &--check {
    position: absolute;
    font-size: $font-l;
    text-decoration: none;
    height: 71px;
    width: 71px;
    border-radius: 0 20px 20px 0;
    background-color: $color-third;
    right: -72px;
    top: 0;
    opacity: 1;
    overflow: hidden;
    z-index: 1;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .menu__card__content--tarif {
      transform: translateX(-75px);
    }

    .menu__card--check {
      right: 0px;

      .check {
        animation: rotate-check .8s;
      }
    }
  }
}



/******BOUTON COMMANDER*******/

.commander {
  margin: 50px;
}

#commander__button {
  @include button;
}


@media screen and (min-width: 768px) {
  /**container**/
  .container {
    width: 80%;
    margin: -40px 180px 0 180px;

    &__top {
      margin: 0 200px;
      padding: 30px 0;
      @include flex-center;
/*HEART ICONE*/
      &--icon {
        padding-left: 60px;
        font-size: $font-xl;

      }
    }
  }
/*CARD MENU*/
  .menu {
    display: grid;

    &__container {
      margin: 0 auto;
      width: 80%;
    }


    &__card {
      margin: 10px 0 0 0

    }

    &--tarif {
      left: 280px
    }
  }
/*BOUTON COMMANDER**/
  .commander {
    @include flex-center;
    transition: 50ms;

    &:hover {
      opacity: 0.85
    }
  }
}

