/******appbar index.html version mobile*****/   
   
   .body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
   
   .appbar{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    height: 60px;
}
    .appbar__container{
    display: flex;
    justify-content: center;
    height: 96px;

}
.appbar__container--logo{
    width:50% ;
}





/***** appbar la palette du goût version mobile*****/
.appbar__restaurant{
    box-shadow: none;
    height: 60px;
    display: flex;
    justify-items: center;
    margin-left: 20px;
    align-items: center;
}
.appbar__restaurant__logo--resto{
    width: 50%;
    margin-left: 50px;
}
#appbar__arrow{
    font-size: 1.2rem;
    color: #353535;

}


@media (min-width: 1024px) {

}



@media (min-width: 768px) {
    

/*****appbar index.html version desktop *****/
.appbar{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    height: 60px;
}

.appbar__container--logo{
    width: 15%;
    display: flex;
    justify-content: center;
}


/**** appbar la palette du goût version desktop******/
.appbar__restaurant{
height: 95px;

}

.appbar__restaurant__logo--resto{
    width: 20%;
    margin-left: 500px;
}



}
