
  /*a supp après**/
  /*****ANIMATION DESCENTE CARDS*******/ 
  .menu__card {
    visibility: hidden;
    transform: translateY(-500px);
    opacity: 0;
    animation: anim__entree 0.7s ease-in-out normal forwards;
  
    &.menu__entree2 {
      animation-delay: 0.2s;
    }
  
    &.menu__entree3 {
      animation-delay: 0.3s;
    }
  
    &.menu__plat1 {
      animation-delay: 0.5s;
    }
  
    &.menu__plat2 {
      animation-delay: 0.7s;
    }
  
    &.menu__plat3 {
      animation-delay: 0.9s;
    }
  
    &.menu__dessert1 {
      animation-delay: 1.1s;
    }
  
    &.menu__dessert2 {
      animation-delay: 1.3s;
    }
  
    &.menu__dessert3 {
      animation-delay: 1.5s;
    }
  }
  